.h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

    background-color: aliceblue;

    border-style: double;

    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2%;

    animation: fadeIn2 2s;
}
.bod {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 3%;

    background-color: aliceblue;
    border-style: double;

    animation: fadeIn2 2s;
}
.body {
    background-color:aquamarine;
}
.img {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    0% { 
        width: 25%;
        height: 25%;
    }
    50% {
        width: 50%;
        height: 50%;
    }
}
@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}